body {
	font-family: Arial, Helvetica, sans-serif;
}
header {
	margin: 15px;
}
footer {
	border-top: 2px solid gray;
	padding: 15px;
	margin: 10px;
	text-align: center;
}
a {
	text-decoration: none;
	color: gray;
}
a:hover {
	color: white;
}
.cpf {
	color: white;
}
.charimg {
	width: 100%;
	height: 100%;
}

.charimg:hover {
	cursor: pointer;
}

.hnav {
	width: auto;
	height: 75px;
	background-image: url(/assets/images/NavBackground.webp);
	background-size: cover;
}
.charcards {
	border-top: solid 3px black;
	padding: 20px;
	margin-top: 20px;
}
.characters {
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
.maintitle {
	color: white;
	text-transform: uppercase;
	font-size: xx-large;
}

.maintitle:hover {
	color: white;
	-webkit-text-stroke: 2px rgb(226, 226, 87);
}

.navitem {
	color: white;
	text-decoration: none;
}
.navitem:hover {
	font-size: xx-large;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 25%;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	-moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
}

.contactHeader {
	text-align: center;
	font-size: 60px;
	color: rgb(238, 238, 100);
}

.homeLink {
	text-decoration: none;
	border: 1px solid rgb(221, 232, 68);
	border-radius: 10px;
	padding: 5px;
	width: 90px;
	text-align: center;
	align-self: center;
	color: rgb(239, 239, 124);
	font-size: 15px;
}

.nav {
	display: flex;
	flex-direction: column;
}

.names {
	text-align: center;
	padding: 80px;
}

.name {
	text-decoration: none;
	margin: 15px;
	font-size: 30px;
	color: rgb(238, 238, 100);
}

.contactBody {
	background-image: url("/assets/images/stars.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.name:hover {
	color: rgb(231, 231, 182);
}

.aboutBody {
	background-image: url("/assets/images/stars.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.aboutHeader {
	text-align: center;
	font-size: 60px;
	color: rgb(238, 238, 100);
}

.homeLink-about {
	text-decoration: none;
	border: 1px solid rgb(221, 232, 68);
	border-radius: 10px;
	padding: 5px;
	width: 90px;
	text-align: center;
	align-self: center;
	color: rgb(239, 239, 124);
	font-size: 15px;
}

.aboutTxt {
	color: rgb(238, 238, 100);
	align-self: center;
	width: 850px;
	text-align: center;
	padding: 100px;
	line-height: 40px;
	font-size: 25px;
}

.homeLink-about:hover {
	border: 1px solid rgb(229, 234, 152);
	color: rgb(243, 243, 176);
	font-size: 18px;
	width: 100px;
}

.homeLink:hover {
	border: 1px solid rgb(229, 234, 152);
	color: rgb(243, 243, 176);
	font-size: 18px;
	width: 100px;
}
 /* modal */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-image: url("/assets/images/starwarsbackground.JPG");
}
.modal-content {
	width: 1650px;
	height: 1000px;
}
.center-text {
	text-align: center;
	font-size: 80px;
	font-weight: bolder;
	color: yellow;
}

.charInfo {
	display: none;
	border: 3px solid rgb(5, 5, 13);
	margin: 15px;
	padding: 10px;
	background: linear-gradient(to right, rgb(47, 47, 65), rgb(8, 8, 32));
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-transform: capitalize;
}

.info {
	padding: 5px;
	color: rgb(111, 143, 198);
	font-size: 25px;
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 4px;
}
.charStyleDark {
	background-image: url("/assets/images/chardarkstyle.JPG");
	color: aliceblue;
	text-align: center;
}
.charStyleLight {
	background-image: url("/assets/images/charlightstyle.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	text-align: center;
	border: 3px solid white;
}
/* light mode */
.lightBtn {
	background-image: url("/assets/images/lightBtnbg.JPG");
	color: aliceblue;
	font-size: larger;
	font-weight: bolder;
	border: 2em;
	border-radius: 2em;
	width: 200px;
	height: 200px;
	float: right;
	margin: 20px;
	width: 750px;
	height: 750px;
}
.lightBtn:hover {
	box-shadow: rgb(2, 18, 255) 1px 0 10px 10px;
	text-shadow: rgb(2, 18, 255) 1px 0 10px;
}
.lightMode {
	background-image: url("/assets/images/lightmodebackground.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
}
/* dark mode */
.darkBtn {
	background-image: url("/assets/images/darthBtnbg.JPG");
	color: aliceblue;
	font-size: larger;
	font-weight: bolder;
	border: 2em;
	border-radius: 2em;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
	width: 750px;
	height: 750px;
}
.darkBtn:hover {
	box-shadow: rgb(255, 0, 0) 1px 0 10px 10px;
	text-shadow: rgb(255, 0, 0) 1px 0 10px;
}
.darkMode {
	background-image: url("/assets/images/darkmodebackground.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	margin: none;
	color: aliceblue;
}
.darkSide:hover {
	box-shadow: rgb(255, 0, 0) 1px 0 10px 10px;
	text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

.thumbnails {
	padding: 50px;
}